*{
    padding: 0;
    margin: 0;
}
/* navigation style code here */
nav{
    background-color: #1A1244;
    display: flex;
    justify-content: space-between;
    padding:10px 100px;
    border-bottom:4px solid #401E63;
    position: sticky;
    top:0;

}
nav .logo{
    color: white;
    font-size: 20px;
}
nav ul{
    display: flex;
}
nav ul li {
    list-style: none;
    margin: 10px 15px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.5s;
}
nav ul li a:hover{
    color: red;
    background-color: black;
    padding: 10px 20px;
    border-radius:10px;
}

/* main section code here */
main{
    background:#273c75; 
}
.latest-video-parent{
    width:1100px;
    margin: 0 auto;
}
.latest-video{
    display: flex;
    justify-content: space-between;
    padding:50px 0;
}
.latest-video h2{
    color: #10ac84;
    font-size:25px;
    font-weight: bold;
}
.latest-pages{
   color: #10ac84;
}
.latest-pages span{
    color: black;
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 4px;
    margin: 0 10px;
    border: 1px solid gray;
    cursor: pointer;
}

/* single item code here */
.single-item-parent{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap:60px;
    grid-column-gap:29px;
    
}
.single-item{
    height: 250px;
    border:3px solid  #939090;
    
}
.single-item img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.single-item div {
    display: flex;
    justify-content: space-between;
    color: #939090;
}
.single-item:hover img{
    transform: scale(1.1);
    border: 4px solid  #939090;
}

.main-bottom-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:60px 0;
}
.angle button{
    background-color: #10ac84;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.main-bottom-parent div a{
    text-decoration: none;
    background-color: antiquewhite;
    color: black;
    padding: 5px 8px;
    border: none;
    border-radius: 4px;
    margin: 0 10px;
}
.main-bottom-parent div a:first-child{
    background-color: #10ac84;
    color: antiquewhite;
}
